# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
firebase-tools-instant-win.exe

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# Windows için oluşturulan dosyaları ve klasörleri ignore et
*.exe
*.dll
*.pdb
*.ilk
*.aps
*.lib
*.exp
.vscode/

# Web için oluşturulan dosyaları ve klasörleri ignore et
web/
*.html
*.dart.js
*.js
*.js.map


# Test için oluşturulan dosyaları ve klasörleri ignore et
test/

# Test sonuçlarını ignore et
result/

# Linux için oluşturulan dosyaları ve klasörleri ignore et
linux/

# Derleme (build) için oluşturulan dosyaları ve klasörleri ignore et
build/
